
@import "tailwindcss";


@layer components {
  .navbarBtn{
    @apply text-gray-500 font-bold border-0 px-3 py-1 hover:bg-gray-200 rounded-xl cursor-pointer transition-all duration-300
  }

  .navbar2Btn{
    @apply text-gray-400 hover:text-gray-800 transition-colors cursor-pointer
  }
  .navbar3Btn{
    @apply bg-red-800 text-white px-6 py-2 rounded-xl font-bold hover:bg-red-900 cursor-pointer transition-all duration-300
  }
  .productImg{
    @apply w-64 h-64 object-cover rounded-lg 
  }
  .productsContainer{
    @apply relative gap-6 p-4
   
  }
  .productsBtn{
    @apply absolute top-[50%] right-[35%] hover:scale-105 transition-transform duration-500 cursor-pointer border-2 border-white rounded-2xl px-4 py-2 
  }
  .featuredProductContainer{
    @apply bg-gray-200 rounded-md py-4 px-2 flex flex-col justify-center items-center hover:scale-105 transition-transform duration-500 cursor-pointer
  }

}